.loginAndRegistrationPage {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
  font-family: sans-serif;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 0px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button,
.form input[type='submit'] {
  outline: 0;
  background: #4eb5e5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover,
button:active,
button:focus,
.form input[type='submit']:hover,
.form input[type='submit']:active,
.form input[type='submit']:focus {
  background: #4596c9;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #187dbc;
  text-decoration: none;
}

.errorMsg {
  color: red;
  font-size: 10px;
  text-align: left;
}
