body {
  font-family: sans-serif;
}

#todoHeading {
  text-align: center;
  font-size: 50px;
}

#task {
  font-weight: bolder;
}

#list {
  color: rgb(180, 177, 177);
}

#addButton {
  margin-left: 49%;
}

#plusButton {
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  border-radius: 10%;
  border: 1px solid #84bbf3;
  color: #ffffff;
  font-weight: bold;
  padding: 6px 24px;
  text-shadow: 0px 1px 0px #528ecc;
  font-size: 25px;
}

#plusButton:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

#plusButton:active {
  position: relative;
  top: 1px;
}

#hideDiv {
  position: fixed;
  margin-left: 45%;
}

.header {
  display: flex;
  padding: 30px 40px;
  text-align: center;
  justify-content: center;
  margin-bottom: -50px;
}

#popupDiv {
  display: flex;
  flex-direction: column;
  display: none;
}

.title {
  background-color: rgb(141, 189, 235);
  margin-left: 5px;
  width: 337px;
}

button {
  outline: none;
}

input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 20%;
  padding: 10px;
  float: left;
  font-size: 16px;
  outline: none;
  background-color: rgb(243, 235, 235);
  margin-right: 5px;
}

.addBtn {
  padding: 10px;
  width: 5%;
  background: #79bbff;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  border-radius: 7px;
}

.addBtn:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}

#save {
  width: 150px;
  height: 35px;
}

#todoLists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todo {
}
