body {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0px;
}

#wholePage {
  display: flex;
}

/* ---------------------------------NEW TODO MAKER--------------------------------------- */

#sideBarDiv {
  height: 100vh;
  width: 21%;
  box-shadow: 0px 0px 5px 0px #888;
  background-color: rgb(247, 241, 241);
}

/* ---------------------------------new todo add button------------------------------------ */

#newTodoAddButtonDiv {
  margin-top: 120%;
  height: auto;
}

.newTodoAddButton {
  width: 175px;
  height: 30px;
  background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
  border: none;
  border-radius: 5px;
  position: relative;
  color: #fbfbfb;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  text-align: left;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 7px;
}

.newTodoAddButton:active {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  top: 1px;
}

.newTodoAddButton:after {
  content: '';
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* -----------------------------------------new todo adder------------------------------- */

#newTodoAdder {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 95%;
  padding-top: 25%;
  padding-left: 5%;
  display: none;
}

#todoTitle {
  width: 85%;
  height: 30px;
  outline: none;
  text-align: center;
  font-size: 15px;
  background-color: rgba(207, 196, 196, 0.2);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

#titleAndSave {
  display: flex;
  flex-flow: row;
}

#saveImg {
  width: 9%;
}

#saveImg:active {
  width: 31px;
  height: 36px;
}

.todoTask {
  width: 85%;
  height: 27px;
  outline: none;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

/* ---------------------------------------------EDIT TODO-------------------------------- */

.deleteTodo {
  height: 18px;
  width: 18px;
  margin-right: 3px;
}

.deleteTodo:active {
  width: 20px;
  height: 20px;
}

.deleteTask {
  height: 10px;
  width: 10px;
  margin-top: 5px;
}

.deleteTask:active {
  width: 11px;
  height: 12px;
}

/* --------------------------------------------TODO LISTS-------------------------------- */

#todoDisplay {
  height: 100%;
  width: 79%;
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.task {
  height: 130px;
  overflow: scroll;
}

.paper {
  width: 350px;
  height: 130px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  margin-top: 20px;
  margin-right: 20px;
}

.paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

.pattern {
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  margin-bottom: -2px;
  line-height: 20px;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  height: 20px;
  outline: none;
  display: flex;
}

.star {
  margin-right: 7px;
  margin-top: 2.5px;
  height: 13px;
  width: 13px;
}

.star:active {
  width: 15px;
  height: 15px;
}

#todoLists {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  margin-top: 35px;
}

.editImage {
  margin-left: 150px;
}

.editImage:active {
  height: 18px;
  width: 18px;
}

/* -------------------------------------Task div------------------------- */

.taskName {
  outline: none;
  width: 80%;
}

.todoName {
  width: 85%;
}

.addTodo {
  padding-left: 4px;
  width: 15px;
}

.addTodo:active {
  width: 14px;
}

#addNewTaskDiv {
  display: none;
  margin: auto;
  align-items: center;
  left: 50%;
  margin-top: 20.5%;
  z-index: 1;
}

#newTaskInputBox {
  outline: none;
  margin-bottom: 15px;
  width: 310px;
  height: 15px;
  border: none;
}

/* ----------------------------------------search title------------------ */
#searchTitle {
  width: 100%;
  padding-left: 70%;
  display: flex;
}

#titleSearch {
  width: 250px;
  border: none;
  border-bottom: solid rgba(138, 132, 132, 0.9) 2px;
  background-color: rgba(240, 232, 232, 0.1);
  outline: none;
  text-align: center;
  line-height: 28px;
  font-size: 15px;
}

#titleSearchImg {
  margin-top: auto;
  margin-bottom: auto;
  height: 20px;
  width: 20px;
}

#titleSearchImg:active {
  width: 22px;
}

.hide {
  display: none;
}
