body {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0px;
}

#wholePage {
  display: flex;
}

/* ---------------------------------NEW TODO MAKER--------------------------------------- */

#sideBarDiv {
  height: 100vh;
  width: 21%;
  box-shadow: 0px 0px 5px 0px #888;
  background-color: rgb(247, 241, 241);
}

/* ---------------------------------new todo add button------------------------------------ */

#newTodoAddButtonDiv {
  margin-top: 120%;
  height: auto;
}

.newTodoAddButton {
  width: 175px;
  height: 30px;
  background: linear-gradient(to bottom, #4eb5e5 0%, #389ed5 100%);
  border: none;
  border-radius: 5px;
  position: relative;
  color: #fbfbfb;
  font-weight: 600;
  font-family: sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 15px;
  text-align: left;
  box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-left: 7px;
}

.newTodoAddButton:active {
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.2);
  top: 1px;
}

.newTodoAddButton:after {
  content: '';
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
}

/* -----------------------------------------new todo adder------------------------------- */

#newTodoAdder {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 95%;
  padding-top: 25%;
  padding-left: 5%;
  display: none;
}

#todoTitle {
  width: 85%;
  height: 30px;
  outline: none;
  text-align: center;
  font-size: 15px;
  background-color: rgba(207, 196, 196, 0.2);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

#titleAndSave {
  display: flex;
  flex-flow: row;
}

#saveImg {
  width: 9%;
}

#saveImg:active {
  width: 31px;
  height: 36px;
}

.todoTask {
  width: 85%;
  height: 27px;
  outline: none;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

/* ---------------------------------------------EDIT TODO-------------------------------- */

#editTodoDiv {
  display: none;
}

#editAndDeleteTodo {
  display: flex;
  flex-flow: row;
  height: auto;
  width: 95%;
  padding-top: 25%;
  padding-left: 5%;
}

#editTodoTitle {
  width: 85%;
  height: 30px;
  outline: none;
  text-align: center;
  font-size: 15px;
  background-color: rgba(207, 196, 196, 0.2);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

.editTask {
  width: 85%;
  height: 27px;
  outline: none;
  text-align: center;
  font-size: 12px;
  border-radius: 5px;
  border: 2px solid rgba(207, 196, 196, 0.4);
}

.editTaskDiv {
  padding-left: 5%;
  display: flex;
}

#deleteTodo {
  margin-top: 3px;
}

#deleteTodo:active {
  width: 29px;
  height: 31px;
}

.deleteTask {
  margin-top: 5px;
  margin-left: 5px;
}

.deleteTask:active {
  width: 16px;
  height: 21px;
}

#saveAfterEdit {
  margin-left: 44%;
}

/* --------------------------------------------TODO LISTS-------------------------------- */

#todoDisplay {
  height: 100%;
  width: 79%;
  padding-left: 30px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.paper {
  width: 350px;
  height: auto;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
  margin-top: 20px;
  margin-right: 20px;
}

.paper::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255, 0, 0, 0.6);
}

.pattern {
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

.content {
  padding-top: 6px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 20px;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
  height: 20px;
}

.star {
  margin-right: 7px;
}

.star:active {
  width: 15px;
  height: 15px;
}

.editImage {
  margin-left: 150px;
}

.editImage:active {
  height: 18px;
  width: 18px;
}
